@import url('https://fonts.googleapis.com/css?family=Numans');

html,body {
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 450px;
    background-color: rgba(0,0,0,0.5) !important;
    color: white;
}

.card-header h3 {
    text-align: center;
}

.table-wrapper-scroll-y {
    display: block;
    position: relative;
    max-height: 600px;
    overflow: auto;
    padding-top: 0;
    padding-bottom: 0;
}

.card-body table tr {
    cursor: pointer;
}

.card-body table tr td img {
    width: 32px;
}

/* online.php */
.card-body table tr td .heads {
    width: 64px;
}

.card-body table tr td .hearts_line .heart {
    width: 24px;
}